{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
<h2 align="center">Login</h2>
<form action="rogdata" method="post">
    {% csrf_token %}

    <h3 style="color:blue" align="center">{{ data }}</h3>

    <table align="center">
        <tr>
            <td>Username</td>
            <td><input type="text" name="txtUserName"></td>
        </tr>
         <tr>
            <td>Password</td>
            <td><input type="password" name="txtPswd"></td>
        </tr>
        <tr>
            <td><input type="submit" name="btnSub" value="Login"></td>
            <td><a href="{% url 'reg' %}">Signup </td>
        </tr>
    </table>
</body>
</html>